{%extends 'main.html' %}
{% block head %} {% endblock %}
{% block body %} <section class="contact_page">
    <div class="cntc_left"></div>
    <div class="cnrc_right">
        <h1 id="cntcth1"> CONTACT US ! </h1>
        <input type="text" placeholder="YOUR NAME *" id="input_cntct">
        <input type="text" placeholder="Your email !" id="input_cntct">
        <input type="text" placeholder="Subject" id="input_cntct">
        <input type="text" placeholder="Your Message" id="input_cntct_msg">
        <button id="cntct_btn">SEND</button>

    </div>
</section>{% endblock %}
{% block footer %} {% endblock %}



</body>

</html>